.form-container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.label-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.label-input-container label {
  margin-right: 1rem;
}

.logout-container {
  display: flex;
  align-items: center;
}

.login-container {
  display: flex;
  align-items: center;
}
