.navbar > a {
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  padding: 10px;
  margin: 0 6px 6px;
  background: lightblue;
  text-decoration: none;
  text-align: center;
  font-size: min(12vw, 16px);
  color: black;
}

a.active {
  background: black;
  color: white;
}
