body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.button-container {
  display: flex;
}

.button-see-more {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-family: inherit;
  font-size: 10px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  margin-right: 10px;
}

.button-add-to-cart {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-family: "Amazon Ember", sans-serif;
  font-size: 10px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  margin-right: 10px;
}

.button-see-more:hover,
.button-add-to-cart:hover {
  background-color: #f7fafa;
}

.button-see-more:focus,
.button-add-to-cart:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}
.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.see-more-card {
  margin: 1rem;
  border: 3px;
  flex: 0 0 calc(35% - 2rem);
  box-sizing: border-box;
  font-size: 0.8em;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.see-more-card {
  margin: auto;
  margin-top: 1rem;
  border: 3px;
  flex: 0 0 calc(35% - 2rem);
  box-sizing: border-box;
  font-size: 0.8em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.see-more-card img {
  width: 20%;
  height: auto;
  margin-bottom: 10px;
}
.see-more-card h1 {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}
.see-more-card p {
  font-size: 3em;
  color: gold;
}

.card {
  margin: 1rem;
  border: 3px solid #282c34;
  flex: 0 0 calc(35% - 2rem);
  box-sizing: border-box;
  font-size: 0.8em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
}

.card h1 {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border: 2px;
}

.card button {
  margin-top: auto;
}

@media (min-width: 768px) {
  .card {
    flex: 0 0 calc(30% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    flex: 0 0 calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    flex: 0 0 calc(20% - 2rem);
  }
}
.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar label {
  margin-right: 10px;
  font-size: 18px;
}

.searchbar input[type="text"] {
  width: 500px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchbar input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

.sort-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-list-container {
  display: flex;
  flex-direction: column;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.sort-container label {
  margin-right: 10px;
}
