body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sort-container {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}

.product-list-container {
  display: flex;
  flex-direction: column;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.sort-container label {
  margin-right: 10px;
}
